@import '../../index.scss';

.single-product-container {
  @include container-style(8rem, 50%);

  &__details {
    @include flex-style;
    margin-top: 4rem;
  }

  &__image-container {
    width: 43%;
  }

  &__img-main {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: 5px;
  }

  &__info {
    width: 43%;
  }


}