@import '../../index.scss';

.review-container {
  @include flex-style;
  margin: 1rem 0;
  justify-content: flex-start;
  gap: 1.5rem;
  
  &__star {
    color: $color-yellow;
    
    &:not(:last-of-type) {
      margin-right: .3rem;
    }
  }
}