@import '../../index.scss';

.section-error {
  background: $color-primary-10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 81vh;

  &__status {
    font-size: 10rem;
  }

  &__text {
     font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
