@import "../../index.scss";

.section-hero {
  @include container-style(5rem);
  @include flex-style;
  min-height: 70vh;
  justify-content: center;
  gap: 3%;

  &__text-box {
    width: 30%;
  }

  &__text {
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  &__gallery {
    position: relative;
    width: 30%;

    &::before {
      content: "";
      display: inline-block;
      background-color: $color-primary-9;
      border-radius: 5px;
      width: 60%;
      height: 70%;
      position: absolute;
      left: 15%;
      bottom: 0;
    }
  }

  &__img {
    border-radius: 5px;

    &--1 {
      width: 65%;
      position: relative;
      left: 20%;
      top: 2.3rem;
    }

    &--2 {
      width: 50%;
      position: absolute;     
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: 992px) {
    .hero-btn {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
    }
    .img-container {
      display: block;
      position: relative;
    }
    .main-img {
      width: 100%;
      height: 550px;
      position: relative;
      border-radius: var(--radius);
      display: block;
      object-fit: cover;
    }
    .accent-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 250px;
      transform: translateX(-50%);
      border-radius: var(--radius);
    }
    .img-container::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 80%;
      background: var(--clr-primary-9);
      bottom: 0%;
      left: -8%;
      border-radius: var(--radius);
    }
  }
}
