@import "../../index.scss";

.section-hero {
  @include container-style(5rem, 50%);
  @include flex-style;
  min-height: 60vh;

  &__text-box {
    width: 45%;
  }

  &__text {
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  &__gallery {
    position: relative;
    width: 45%;

    &::before {
      content: "";
      display: inline-block;
      background-color: $color-primary-9;
      border-radius: 5px;
      width: 60%;
      height: 70%;
      position: absolute;
      left: 15%;
      bottom: 0;
    }
  }

  &__img {
    border-radius: 5px;

    &--1 {
      width: 65%;
      position: relative;
      left: 20%;
      top: 2.3rem;
    }

    &--2 {
      width: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 1200px) {
  .section-hero {
    &__text-box {
      width: 75%;
    }

    &__gallery {
      display: none;
    }
  }
}
