@import "../../index.scss";

.product-list {
  &--grid {
    @include flex-style;
    flex-wrap: wrap;
    row-gap: 4rem;

    .product {
      &__image-container {
        height: 20rem;
      }
    }
  }
}
