@import "../../index.scss";

.product-list {
  &--grid {
    @include flex-style;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4rem 3.5%;

    .product {
      &__image-container {
        height: 20rem;
      }
    }
  }
}
