@import "../../index.scss";

.single-product-container {
  &__paragraph--amount {
    @include flex-style;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 2rem;
  }

  &__btn-amount {
    font-size: 1.5rem;
  }

  &__amount {
    font-size: 4rem;
    font-weight: 700;
  }

}
