@import "../../index.scss";

.section-about {
  @include flex-style;
  @include container-style(8rem);
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  min-height: 70vh;

  &__img {
    width: 30%;
    height: 40vh;
    border-radius: 5px;
    object-fit: cover;
  }

  &__container {
    width: 30%;
  }

  &__content {
    line-height: 1.7;
  }
}
