/* ----------------------------------- */
/* Variables */
/* ----------------------------------- */
$color-primary-1: #453227;
$color-primary-2: #5f4435;
$color-primary-3: #795744;
$color-primary-4: #936a53;
$color-primary-5: #ab7a5f;
$color-primary-6: #b99179;
$color-primary-7: #c5a491;
$color-primary-8: #d1b6a8;
$color-primary-9: #decbc0;
$color-primary-10: #eaded7;

$color-grey-1: #102a42;
$color-grey-2: #243a52;
$color-grey-3: #324d67;
$color-grey-4: #48647f;
$color-grey-5: #617d98;
$color-grey-6: #829ab0;
$color-grey-7: #9eb2c7;
$color-grey-8: #bcccdc;
$color-grey-9: #dae2ec;
$color-grey-10: #f1f5f8;

$color-white: #fff;
$color-red-dark: #bb2525;
$color-red-light: #e66b6b;
$color-green-dark: #25bb32;
$color-green-light: #6be675;
$color-black: #222;

/* ----------------------------------- */
/* Mixin */
/* ----------------------------------- */
@mixin container-style($padding) {
  width: 80%;
  margin: auto;
  max-width: 1800px;
  padding: $padding 0;
}

@mixin flex-style() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin text-style() {
  font-size: 1.8rem;
  color: $color-grey-3;
  text-transform: capitalize;
}

@mixin transition-style() {
  transition: 0.2s linear;
}

/* ----------------------------------- */
/* Global Styles */
/* ----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem 'Lato', sans-serif;;
  color: $color-black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

hr {
  border: none;
  height: 0.5rem;
  background-color: $color-primary-5;
  margin: 1rem 0 3rem;
  width: 20%;
}

.heading-secondary {
  text-transform: capitalize;
  font-size: 3.5rem;
}
